<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h1>Job Management System</h1>
    <h6>Job List</h6>
    <hr>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}">Error</span>
    </div>
    <table border="1"
           class="table table-bordered">
        <thead class="bg-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Group</th>
            <th>Cron Expression</th>
            <th>Creation Date</th>
            <th>Status</th>
            <th>Target</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="job:${jobList}">
            <td th:text="${job.idJob}"></td>
            <td th:text="${job.name}"></td>
            <td th:text="${job.description}"></td>
            <td th:text="${job.groupName}"></td>
            <td th:text="${job.cronExpression}"></td>
            <td th:text="${job.creationDate}"></td>
            <td>
                <span class="badge rounded-pill bg-success" th:text="${job.status}"></span>
            </td>
            <td th:text="${job.urlTarget}"></td>
            <td>
                <a th:href="@{/delete/{jobId}(jobId=${job.idJob})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <a th:href="@{/newJob}" class="btn btn-primary" >Add Job</a>
    <a th:href="@{/executionJob}" class="btn btn-primary" >Execution List</a>
</div>
</body>
</html>
